@import '../../sass/variables.scss';

.timeline-line {
  border-left: $border-width solid var(--dark-3);
}

.timeline-badge {
  padding: $size/3;
  background: var(--dark-1);
  border-radius: $size/6;
  color: var(--dark-4);
  font-size: small;
  margin-left: $size * .7;
  &::before {
    content: '';
    position: relative;
    float: left;
    width: $size/2;
    height: $size/2;
    margin-top: $size/2;
    margin-left: - $size/5;
    border-radius: 50%;
    background: var(--dark-3);
    
  }
}